* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
    border: 1px solid red;
}

header {
   background-image: url("../img/jumbo.png");
   background-repeat: no-repeat;
   background-size: cover;
}

.navigation-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
} 

.menu-flex {
    display: flex;
    gap: 50px;
}

.buttons {
    list-style: none;
    margin-top: 10px;
    color: white;
}

a {
    text-decoration: none;
}

.login {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    color: black;
}

#title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-block: 80px;
  color: white;

}

div h2 {
    margin: 30px;
    font-size: 60px;
}

.login-2 {
    background-color: #23272A;
    border-radius: 30px;
    padding: 10px;
    color: white;
    margin-top: 30px;
}

main {
    margin: 0 auto;
    width: 80%;
}


section .image figure{
    flex-basis: 70%;

}

section .image .text{
    flex-basis: 30%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-flex {
    height: 200px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
} 

.grey-flex2 {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.download {
    height: 100px;
    width: 500px;
    margin: 20px;
}

footer {
    height: 500px;
    background-color: #23272A; 
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#information {
    height: 400px;
    width: 500px;
    background-color: darkgreen;
    margin-top: 50px;
}

#line {
    width: 500px;
    margin-block: 20px;
}

.last-part {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 20px;
}

.buttons-2 {
    width: 100px;
    height: 20px; 
    background-color: yellow;
}